@charset "ISO-8859-1";

*{
    font-family: verdana, sans-serif;
    margin:0;
    padding:0;
}

/*+++++++++++++++++++++++++FOOTER+++++++++++++++++++++++*/
#footer{
    width: 100%;	 /* definiamo la largezza quanto la dimensione della pagina*/
    position: relative;
    float: left;
    padding-top: 100px;
    margin-top: 500px;
    text-align: center;
    background:#f3f3f3 ;

}

#info{
    float: left;
    width: 33.3%;/* definiamo un valore in modo che i 3 div componenti del footer non superino la largeza totale del contenitore footer*/
    background:#f3f3f3 ;
    height: 13em;

}

#contatti{
    float: left;
    width: 33.3%; /* definiamo un valore in modo che i 3 div componenti del footer non superino la largeza totale del contenitore footer*/
    background:#f3f3f3;
    height: 13em;
}

#newsletter{
    float: left;
    width: 33.3%; /* definiamo un valore in modo che i 3 div componenti del footer non superino la largeza totale del contenitore footer*/
    background-color:#f3f3f3;
    height: 13em;
}
/*+++++++++++++++++++HEADER++++++++++++++++++++++++*/


header .logo{
    margin-top:-150px;
    text-align: center;
}

header{
    background-color:gray;
    filter: opacity(80%);
    padding:50px;
    height:100px;
}


/*++++++++++++++++++NAVBAR++++++++++++++++++++++++*/

nav .toggleClose{
    display:none;
}

nav #topNavMin{
    display:none;
}

nav .toggle{
    float:right;
    font-size:30px;
    margin-right:20px;
    display:none;

}

nav #nitems ul{
    display: none;

}

nav ul li:hover .submenu,nav ul li:hover .submenuMin{
    display:block;
    background:#f3f3f3;
    position:absolute;
}

nav ul li  .submenu li a,nav ul li  .submenuMin li a{
    text-decoration:none;
    color:black;
}

nav ul li .submenu, nav ul li .submenuMin{
    padding:20px 10px;
    text-align:left;
    width:90%;
    margin-top:5px;
    display:none;
    position:absolute;
    background-color:#f3f3f3;
    border-radius:12px;
    z-index:1;
}

nav{
    background-color:#f3f3f3;
    margin-top:20px;
    margin-bottom:60px;
    height:40px;
}

nav ul, nav #TopNavMin{
    list-style-type:none;
    text-align:center;
    padding:0;
    margin-top:-20px;


}
nav ul li a{
    text-decoration:none;
    color:black;
    font-size:20px;


}

nav ul li a:hover{
    text-decoration:none;
    color:grey;

}

nav ul li {
    display:inline-block;
    position:relative;
    width:250px;
    padding:10px;

}

.submenu li,.submenuMin li{
    display:block;
}

/*+++++++++++++++++++HOME+++++++++++++++++++++++++*/
#contesto{
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding: 0px 50px 50px 50px;
    width: 80%;
}

/*+++++++++++++++++++VISUALIZZA+++++++++++++++++++++++++*/
.in1, .in2, .in3{
    text-align: center;
    margin: 0 auto;
    float: left;
    width: 33.3%;
}

.in4, .in5{
    text-align: center;
    float: left;
    margin-top: 3em;
    width: 50%;
}

.all{
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.tot{
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%
}

/*++++++++++++++++++++++++ INSERT +++++++++++++++++++++++++++++++++++++*/
#mainInsert{
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding: 50px;
    width: 90%;
}

/*+++++++++++++++++++REMOVE+++++++++++++++++++++++++*/
#mainRemove{
    margin: 0 auto;
    position: relative;
    width: 90%;
}
#byZonaForm, #byPriceForm, #byRevForm, #byRoomForm, #revByIdForm, #byDuomoForm{
    width: 100%;
    margin: 0 auto;
}

/*+++++++++++++++++++UPDATE+++++++++++++++++++++++++*/

#mainUpdate{
    margin: 0 auto;
    position: relative;
    width: 90%;
}

#mainModifica{
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding: 50px;
    width: 90%;
}

#formModifica, #formInsert{
    width:40%;
    MARGIN: 0 auto;
}

input[type=text]{
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 17px;
    height:auto;
    font-size:100%;
}
input[type=number]{
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 17px;
    height:auto;
    font-size:100%;
}
button {
    width: 20%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    height:auto;
    font-size:100%;
}
select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 17px;
    height:auto;
    font-size:100%;
}

#recensioniView{
    margin: 0 auto;
    position: relative;
    width: 90%;
}
